## Placeholder arvot

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=appdb

DATABASE_URL=postgresql+psycopg://username:password@localhost/appdb

API_HOST=0.0.0.0
API_PORT=8000

CORS_ORIGINS=http://localhost:5173

SQLADMIN_USERNAME=admin
SQLADMIN_PASSWORD=admin
SQLADMIN_SECRET_KEY=vaihdaminut

SECRET_KEY=salainenavain-vaihda-minut
ACCESS_TOKEN_EXPIRE_MINUTES=30